/* Base */
body {
  color: #818181; }

h2 {
  font-size: 25px;
  color: #767676; }

blockquote {
  padding: 10px 40px;
  border-left: none; }
  blockquote footer {
    color: #a89574; }
    blockquote footer:before {
      content: 'By '; }
    blockquote footer cite {
      font-style: normal; }

/* Layout */
.navbar {
  margin-bottom: 0;
  padding: 25px 0 24px; }
  .navbar-default {
    background-color: #fff; }
  .navbar-brand {
    margin-right: 20px;
    font-size: 40px;
    font-weight: bold; }
    .navbar-brand span {
      font-weight: lighter;
      color: #a89574; }

.navbar-nav > li > a {
  color: #a7a7a7; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #a89574;
  background-color: transparent; }

.navbar-default .navbar-brand {
  color: #c2c2c2; }

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #c2c2c2; }

.jumbotron {
  margin-bottom: 0;
  background-color: #2a2a2a; }
  .jumbotron h1 {
    letter-spacing: -0.025em;
    color: #a89574; }
    @media screen and (min-width: 768px) {
      .jumbotron h1 {
        font-size: 55px; } }
  .jumbotron p {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #c7c7c7; }

.well .btn-default {
  margin-right: 20px; }

.nav-justified {
  counter-reset: headings; }
  .nav-justified .circle-lg {
    margin: 0 auto; }
    .nav-justified .circle-lg .fa {
      line-height: 90px; }
  .nav-justified h4 {
    font-size: 18px;
    counter-increment: headings; }
    .nav-justified h4:before {
      content: counter(headings) ". ";
      color: #a89574; }

.media .circle-md {
  font-size: 12px; }
  .media .circle-md strong {
    position: relative;
    top: 8px;
    display: block;
    font-size: 20px; }
.media .meta, .media a {
  font-size: 12px;
  color: #a89574; }

.list-circle {
  padding-left: 0;
  list-style-type: circle;
  list-style-position: inside;
  color: #a89574; }
  .list-circle span {
    color: #818181; }

.t-footer {
  color: #d2d2d2;
  background-color: #393939; }
  .t-footer h3 {
    color: #efefef; }
  .t-footer a {
    color: #d2d2d2; }
  .t-footer .list-unstyled li {
    position: relative;
    padding-left: 20px; }
    .t-footer .list-unstyled li .fa {
      position: absolute;
      left: 0;
      top: 3px;
      color: #a89574; }

.t-copyright {
  margin-top: 2em;
  padding-top: 20px;
  background-color: #333; }

/* Modules */
.btn-default {
  color: #a89574;
  background-color: transparent;
  border-color: #a89574; }

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #b2a184;
  background-color: transparent;
  border-color: #b2a184; }

.btn-danger {
  color: #a8747e;
  background-color: transparent;
  border-color: #a8747e; }

.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
  color: #8f5a64;
  background-color: transparent;
  border-color: #8f5a64; }

@media (min-width: 768px) {
  .lead {
    font-size: 18px; } }

.well,
.well-lg {
  border-radius: 0; }

.thumbnail {
  padding: 0; }
  .thumbnail .caption h5 {
    font-size: 15px;
    color: #767676;
    font-weight: bold; }
  .thumbnail .caption p {
    font-size: 13px;
    color: #a89574; }

.circle-md, .circle-lg {
  text-align: center;
  color: #a89574;
  border: 2px solid #a89574; }

.circle-md {
  width: 60px;
  height: 60px;
  border-radius: 30px; }

.circle-lg {
  width: 90px;
  height: 90px;
  border-radius: 45px; }

.form-control {
  color: #818181;
  background-color: #2e2e2e;
  border-color: #2e2e2e; }

/* Helpers */
.pt1 {
  padding-top: 1em; }

.mb1 {
  margin-bottom: 1em; }

.mt1 {
  margin-top: 1em; }

.mb0 {
  margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
