// Text Color
$color-text: #818181;
$color-nav-link: #a7a7a7;
$color-link: #a89574;
$color-footer-text: #d2d2d2;
$color-footer-heading: #efefef;

// Background Color
$bg-navbar-default: #fff;
$bg-jumbotron: #2a2a2a;
$bg-footer: #393939;
$bg-bottom: #333;

// Function
@function ls($target) {
  @return $target / 1000 * 1em;
}
